<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">
    <appender name="KAFKA" class="org.fastercode.marmot.monitor.log.logback.kafka.KafkaAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
        <topic>test-topic</topic>
        <producerConfig>bootstrap.servers=vm-kafka:9092</producerConfig>
        <producerConfig>acks=0</producerConfig>
        <producerConfig>max.block.ms=0</producerConfig>
        <producerConfig>linger.ms=1000</producerConfig>
        <producerConfig>batch.size=1000</producerConfig>
        <producerConfig>client.id=${HOSTNAME}-${CONTEXT_NAME}-logback-relaxed</producerConfig>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{36} %cyan(%C#%M:%L) - %highlight(%msg) %n</pattern>
        </encoder>
        <filter class="org.fastercode.marmot.monitor.log.logback.filter.ErrorLogFilter" >
            <projectName>demo-api</projectName>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="KAFKA" />
    </root>

</configuration>